.container {
  display: flex;
  justify-content: baseline;
  width: 560px;
}

.title {
  margin: auto;
  width: 470px;
  height: auto;
  word-wrap: break-word;
}

.like {
  border: 1px solid red;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
}

.active {
  background-color: red;
}