.list-messages {
  height: 300px;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.title {
  margin: auto;
  max-width: 470px;
  height: auto;
  word-wrap: break-word;
}

.like {
  border: 1px solid red;
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  border-radius: 50%;
}

.active {
  background-color: red;
}

.name-user {
  padding: 0 7px;
}