.Main {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-auto-flow: column;
  grid-template-columns: minmax(200px,  560px);
}

// .chat {
//   display: inline-block;
// }

// .profile {
//   display: inline-block;
// }