.Main {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-auto-flow: column;
  grid-template-columns: minmax(200px,  560px);
}

@media screen and (max-width: 999px) {
  .Main {
    grid-auto-flow: row;
  }
}

// .chat {
//   display: inline-block;
// }

// .profile {
//   display: inline-block;
// }